# Ignore virtual environments
venv

# Ignore compiled Python source files
*.pyc

# Ignore SQLite database files
*.sqlite3

# Code coverage
src/.coverage
coverage.xml
unittests.xml

src/.vscode

target